<h2>Add a Swap</h2>

<form {{action "save" on="submit"}}>

<label>
  Requested By
{{view Ember.Select contentBinding="families"
       optionValuePath="content.id"
       optionLabelPath="content.displayName"}}
</label>

<label>
  Performed on
  {{date-picker value=performedOn}}
</label>

<label>
  Started At
  {{time-picker value=startedAtTime}}
</label>

<label>
  Finished At
  {{time-picker value=endedAtTime}}
</label>

{{#ladda-button style="zoom-in" color="blue" size="s" action="save"}}Save{{/ladda-button}}
</form>
